@{
    ViewData["Title"] = "Home Page";
}

<h1>Survivor!</h1>

   <p>See info on survivors @Html.ActionLink("here", "Index", "Players")</p>
   <p>See info on seasons @Html.ActionLink("here", "Index", "Seasons")</p>
